
<div *ngIf="loading">{{ 'loading' | translate }}</div>

<div *ngIf="!loading" class="bd-example">
  <h3>{{ 'problems.title' | translate }}  </h3>

  <button itButton="primary" (click)="openCreateProblemModal()" class="mb-5 d-flex align-items-center gap-2">
    <span class="material-icons">add_circle_outline</span>
    <span>{{ 'problems.create' | translate }}</span>
  </button>

  <it-modal #problemModal size="lg">
    <ng-container modalTitle>
      {{ 'problems.createTitle' | translate }}
    </ng-container>
  
    <app-problem-create (problemSaved)="onProblemSaved($event)"></app-problem-create>
  </it-modal>
    <it-search
      label="Cerca nel sito"
      placeholder="Testo da cercare"
      [searchData]="searchProblems$"
      
      (searchSelectedEvent)="onSearchSelected($event)" 
      />
  <div class="row">
    <div class="col-12 col-lg-4 mb-4" *ngFor="let problem of problems">
      <div class="card-wrapper" [routerLink]="['/problems', problem.problem_id, 'scenari']"
      [queryParams]="{ problemName: problem.problem_name }">
        <it-card background="true">
          <div class="categoryicon-top">
            <it-icon name="file"></it-icon>
            <span class="w-100 text-end">{{problem.updated|date:'dd/MM/yyyy'}}<br /></span>
          </div>

          <a >
            <h3 class="card-title h5">{{ problem.problem_name }}</h3>
          </a>

          <p class="card-text font-serif">
            {{ problem.problem_description }}
          </p>
        </it-card>
      </div>
    </div>
  </div>
</div>
