<div class="row my-2 align-items-center">
  <div class="col">
    <h4>{{ scenario?.name || 'Loading...' }}</h4>
  </div>
  <div class="col-auto">
    <button itButton="primary" (click)="downloadPdf()">
      Scarica PDF
    </button>

     
  </div>
  <div class="col-auto">

    <button itButton="danger" (click)="openDeleteModal()">
      {{ 'common.delete' | translate }}
    </button>
     
  </div>

</div>

<div class="my-4 d-flex flex-column w-100">
  <app-plot [scenarioId]="scenarioId" [problemId]="problemId" id="pdfContent"></app-plot>
</div>
<it-modal #deleteModal id="deleteModal">
  <ng-container modalTitle>Elimina scenario</ng-container>
  <p>
    Vuoi davvero eliminare lo scenario <b>{{ scenario?.name }}</b>?<br/>
    L'operazione non può essere annullata.
  </p>
  <ng-container footer>
    <button itButton="outline-primary" (click)="onCancelDelete()">Annulla</button>
    <button itButton="danger" (click)="confirmDelete()">Elimina</button>
  </ng-container>
</it-modal>