<div class="container-fluid mb-3">
    <it-breadcrumb [separator]="'/'" [ariaLabel]="'Breadcrumb'">
      <it-breadcrumb-item
        *ngFor="let breadcrumb of breadcrumbs$ | async; let last = last"
        [active]="last"
      >
        <a *ngIf="!last" [routerLink]="breadcrumb.url"  class="text-primary">
          {{ breadcrumb.label }}
        </a>
        <ng-template [ngIf]="last">
          <span class="text-muted h6">{{ breadcrumb.label }}</span>
        </ng-template>
      </it-breadcrumb-item>
    </it-breadcrumb>
  </div>