<it-footer>
    
    
    <ng-container contacts>
        <div class="row">
            <div class="col">
                <div class="it-brand-wrapper">
                    <a href="#" data-focus-mouse="false">
                      <it-icon name="code-circle" />
                      <div class="it-brand-text">
                        <h2>Lorem Ipsum</h2>
                        <h3 class="d-none d-md-block">Inserire qui la tag line</h3>
                      </div>
                    </a>
                  </div>
            </div>
            <div class="col">
        <div class="it-brand-wrapper">
            <a href="#" data-focus-mouse="false">
              <it-icon name="code-circle" />
              <div class="it-brand-text">
                <h2>Lorem Ipsum</h2>
                <h3 class="d-none d-md-block">Inserire qui la tag line</h3>
              </div>
            </a>
          </div>
          </div>
          </div>
    </ng-container>
    <ng-container small-links>
        
      <li class="list-inline-item"><a href="#">Media policy</a></li>
      <li class="list-inline-item"><a href="#">Note legali</a></li>
      <li class="list-inline-item"><a href="#">Privacy policy</a></li>
      <li class="list-inline-item"><a href="#">Mappa del sito</a></li>
      <li class="list-inline-item">
        <a href="https://form.agid.gov.it/view/xyz"
          >Dichiarazione di accessibilità <span class="visually-hidden">(link esterno su sito AgID)</span></a
        >
      </li>
    </ng-container>
  </it-footer>