<div class="p-3 border rounded">
  <h6 class="mb-3">{{ "plot.widget.title" | translate }}</h6>

  <div class="bd-example-tabs">
    <div class="row">
      <!-- Tab List -->
      <div class="col-4 col-md-3">
        <div class="nav nav-tabs nav-tabs-vertical nav-tabs-vertical-background" role="tablist"
          aria-orientation="vertical">
          <a *ngFor="let group of objectKeys(widgets)" class="nav-link" [class.active]="activeTab === group"
            (click)="activeTab = group" href="javascript:void(0)" role="tab">
            {{ group }}
          </a>
        </div>
      </div>

      <!-- Tab Content -->
      <div class="col-8 col-md-9">
        <div class="tab-content">
          <div *ngFor="let group of objectKeys(widgets)" class="tab-pane p-3 fade" [class.show]="activeTab === group"
            [class.active]="activeTab === group" [class.fade]="true">
            <div class="row">
              <div *ngFor="let widget of widgets[group]" class="col-12 col-md-6 mb-4">
                <div *ngIf="widget.editable">
                  <div class="p-2  rounded h-100">
                    <div class="d-flex justify-content-between align-items-center small">
                      <label class="form-label mb-0"
                        [itTooltip]="!isEditable(widget) ? 'Modifica non disponibile per questo indice' :  undefined ">
                        {{ widget.index_name }}
                      </label>
                      <span *ngIf="widget.description" class="material-icons text-muted ms-2"
                        style="font-size: 16px; cursor: pointer;" [itTooltip]="widget.description"
                        itTooltipPosition="right">
                        help_outline
                      </span>
                    </div>
                    <!-- Se ha una scala (mostra ngx-slider) -->
                    <ng-container
                      *ngIf="widget.index_category !== '%' && widget.scale && widget.index_type !== 'lognorm'; else rangeBlock">
                      <div class="custom-slider" [ngClass]="{
      'disabled-slider': !isEditable(widget),
      'disabled-slider-wrapper': !isEditable(widget)
    }" [itTooltip]="!isEditable(widget) ? 'Modifica non disponibile per questo indice' : undefined">
                        <ngx-slider [(value)]="widget.vMin!" [(highValue)]="widget.vMax!" [options]="{
        floor: widget.min,
        ceil: widget.max,
        step: widget.step || 1
      }" (userChangeEnd)="onWidgetChange()"></ngx-slider>
                      </div>
                    </ng-container>

                    <!-- it-range come fallback o per lognorm -->
                    <ng-template #rangeBlock>
                      <div class="position-relative" [ngClass]="{ 'disabled-slider-wrapper': !isEditable(widget) }">
                        <it-range [min]="widget.min" [max]="widget.max" [step]="widget.step" [(ngModel)]="widget.v"
                          leftColor="var(--bs-primary)" rightColor="hsl(210, 100%, 70%)" [label]="''"
                          (ngModelChange)="onWidgetChange()"
                          [itTooltip]="!isEditable(widget) ? 'Modifica non disponibile per questo indice' : undefined"></it-range>
                      </div>
                      <div class="small text-end text-muted">
                        {{ widget.v }} <span *ngIf="widget.index_category === '%'">%</span>
                      </div>
                    </ng-template>



                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->