<div class="p-3 border rounded">
  <h6 class="mb-3">{{ 'plot.widget.title' | translate }}</h6>

  <div *ngFor="let group of objectKeys(widgets)" >
    <!-- <h6 class="mt-3">{{ group }}</h6> -->
    <it-accordion [title]="group">

    <div *ngFor="let widget of widgets[group]">
      <div *ngIf="widget.editable">
        <label class="form-label d-block">
          {{ widget.index_name }}
          <span *ngIf="widget.description" class="text-muted small">({{ widget.description }})</span>
        </label>

        <it-range
          [min]="widget.min"
          [max]="widget.max"
          [step]="widget.step"
          [(ngModel)]="widget.v"
          [label]="''"
        >
        </it-range>
        <div class="small text-end text-muted">{{ widget.v }}</div>
      </div>
    </div>
    </it-accordion>
</div>