<div *ngIf="loading">{{ 'scenari.loading' | translate }}</div>

<div *ngIf="!loading" class="bd-example">
  <div class="row my-2">
    <div class="col">
      <it-back-button buttonStyle="link"></it-back-button>
    </div>
  </div>
  <h3>{{ 'scenari.title' | translate }}</h3>
  <p>{{ 'scenari.description' | translate }}</p>

  <button itButton="primary" class="mb-5" (click)="toggleComparazione()">
    {{ comparazioneAttiva ? ('scenari.disable_compare' | translate) : ('scenari.enable_compare' | translate) }}
  </button>

  <it-list>
    <it-list-item *ngFor="let scenario of scenari; let i = index" iconLeft="true"
      [routerLink]="!comparazioneAttiva ? ['/simulazioni', simulationId, 'scenari', scenario.id] : null"
      externalLink="false" (click)="comparazioneAttiva ? $event.stopPropagation() : null">
      <div class="d-flex align-items-center">
        <ng-container *ngIf="comparazioneAttiva">
          <it-checkbox class="me-2" [label]="''" [(ngModel)]="checkboxStates[scenario.id]"
            [disabled]="!checkboxStates[scenario.id] && selectedScenari.length >= 2"
            (ngModelChange)="onScenarioCheck(scenario, $event)">
          </it-checkbox>
        </ng-container>
        <div>
          <h4 class="text m-0">{{ scenario.name }}</h4>
          <p class="small m-0">{{ scenario.description }}</p>
        </div>
      </div>

      <ng-container multiple *ngIf="!comparazioneAttiva">
        <it-icon name="pencil" color="primary" class="me-2" (click)="openEdit(scenario); $event.stopPropagation()"></it-icon>

        <a [routerLink]="['/simulazioni', simulationId, 'scenari', scenario.id]"
           [attr.aria-label]="'scenari.open_scenario' | translate:{name: scenario.name}">
          <it-icon name="arrow-right" color="primary"></it-icon>
        </a>
      </ng-container>
    </it-list-item>
  </it-list>

  <div *ngIf="comparazioneAttiva && selectedScenari.length === 2" class="mt-3">
    <button itButton="primary" class="mb-5" (click)="confrontaScenari()">
      {{ 'scenari.compare_selected' | translate }}
    </button>
  </div>
</div>
