<it-header
  slimTitle="{{ 'header.title' | translate }}"
  slimTitleLink="#"
  [showSearch]="false"
  [sticky]="true"
  [expand]="true"
>
  <ng-container brand>
    <a href="#" class="d-flex align-items-center">
      <img src="assets/images/logo.png" alt="IAxPA Logo" class="responsive-logo me-2" />
      <div class="it-brand-text">
        <div class="it-brand-title responsive-title">Analisi dell'affollamento turistico</div>
        <div class="it-brand-tagline d-none d-md-block"></div>
      </div>
    </a>
  </ng-container>


<ng-container navItems>
  <it-navbar-item *ngFor="let link of links">
    <a
      class="nav-link"
      [ngClass]="{ active: isActive(link)}"
      [href]="link.route"
      >{{ link.label }}</a
    >
  </it-navbar-item>
</ng-container>
</it-header>