<it-header
slimTitle="{{ 'header.title' | translate }}"
slimTitleLink="#"
[showSearch]="false"
[sticky]="true"
[expand]="true"
>
<ng-container brand>
  <a href="#">
    <!-- <it-icon name="designers-italia"></it-icon> -->
    <img src="assets/images/logo.webp" alt="IAxPA Logo" style="height: 40px; margin-right: 0.5rem;" />

    <div class="it-brand-text">
      <div class="it-brand-title">IAxPA</div>
      <div class="it-brand-tagline d-none d-md-block"></div>
    </div>
  </a>
</ng-container>
<ng-container slimRightZone>
  <!-- <it-language-switcher mode="nav"></it-language-switcher> -->
  <!-- <button itButton="outline-primary" class="me-2"  (click)="toggleTheme()"> {{ darkMode ? 'Light' : 'Dark' }} Mode</button> -->
</ng-container>
<ng-container navItems>
  <it-navbar-item *ngFor="let link of links">
    <a
      class="nav-link"
      [ngClass]="{ active: isActive(link)}"
      [href]="link.route"
      >{{ link.label }}</a
    >
  </it-navbar-item>
</ng-container>
</it-header>