<it-header
slimTitle="{{ 'header.title' | translate }}"
slimTitleLink="#"
[showSearch]="false"
[sticky]="true"
[expand]="true"
>
<ng-container brand>
  <a href="#">
    <it-icon name="designers-italia"></it-icon>
    <div class="it-brand-text">
      <div class="it-brand-title">IAxPA</div>
      <div class="it-brand-tagline d-none d-md-block"></div>
    </div>
  </a>
</ng-container>
<ng-container slimRightZone>
  <button itButton="outline-primary" class="me-2" (click)="toggleSidebar.emit()">☰</button>

  <it-language-switcher mode="nav"></it-language-switcher>
  <button itButton="outline-primary" class="me-2"  (click)="toggleTheme()"> {{ darkMode ? 'Light' : 'Dark' }} Mode</button>
</ng-container>
</it-header>