.explanation-text {
    white-space: pre-line; 
    word-break: break-word;
    font-family: inherit; 
    font-size: 0.95rem;
    line-height: 1.5;
    
  }
  .explanation-block {
    margin-bottom: 1.5rem;
  }