<div class="explanation-block">
    <h6 class=" text-muted mb-2">Descrizione indice globale di overtourismo</h6>
    <div class="explanation-text">{{ getGlobalIndexExplanation() }}</div>
</div>

<div class="explanation-block">
    <h6 class=" text-muted mb-2">Descrizione dei singoli indici</h6>
    <div class="explanation-text">{{ getIndexesListExplanation() }}</div>
</div>

<div class="explanation-block">
    <h6 class=" text-muted mb-2">Spiegazione incertezza</h6>
    <div class="explanation-text">{{ getUncertaintyExplanation() }}</div>
</div>

<div class="explanation-block">
    <h6 class=" text-muted mb-2">Descrizione di cambiamenti rispetto allo scenario base</h6>
    <div class="explanation-text">{{ getParametersChangesExplanation() }}</div>
</div>


<it-accordion title="GUIDA ALLA LETTURA DEL GRAFICO">
    <p>
        I punti nel grafico indicano un campione di valori giornalieri per turisti e escursionisti stimati su base
        probabilistica dal modello di riferimento (Modello Molveno Estate).
    </p>
    <p>
        I punti che si trovano sopra o a destra ad una linea di vincolo (ad esempio «parcheggi») rappresentano
        potenziali giornate con superamento della capacità della risorsa.
        I punti in verde indicano giornate che soddisfano tutte le linee di vincolo e che sono compatibili con la
        capacità di carico complessiva della destinazione.
        I punti in rosso indicano giornate in cui si verifica sovraffollamento.
    </p>
    <p>
        La previsione è caratterizzata da un margine di incertezza (evidenziato in giallo) che dipende da diversi
        fattori, quali (i) le assunzioni sul comportamento dei visitatori e su altri parametri dei fenomeni turistici,
        (ii) le approssimazioni dovute alla modellazione statistica. Per i punti colorati di giallo, la previsione è più
        incerta.
    </p>
</it-accordion>