<!-- toast.component.html -->
<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 1200;"
>
  <div
    *ngIf="notification$ | async as notif"
    class="toast align-items-center text-white border-0 show"
    [ngClass]="{
      'bg-success': notif.type === 'success',
      'bg-danger': notif.type === 'danger'
    }"
    role="alert"
  >
    <div class="d-flex">
      <div class="toast-body">
        {{ notif.message }}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        aria-label="Close"
        (click)="clear()"
      ></button>
    </div>
  </div>
</div>
