<div  [ngClass]="{'sidebar-wrapper': true, 'sidebar-collapsed': collapsed}">
    <it-list linkList="true">
      <it-list-item size="medium" iconLeft="true"  >
        <button aria-label="Toggle menu" (click)="toggleSidebar()" class="btn btn-outline btn-sm">
          <i class="bi bi-list fs-4"   [ngClass]="{'rotate-icon': !collapsed}"></i> 
        </button>
      </it-list-item>
      </it-list>

  <it-sidebar [style.width]="collapsed ? '60px' : '250px'" >
 
    <it-list linkList="true">
      <it-list-item size="medium" href="/home" iconLeft="true" [active]="router.url === '/home'" >
        <span class="list-item-title-icon-wrapper">
          <it-icon name="pa" />
          <span>{{ 'sidebar.home' | translate }}</span>
        </span>
      </it-list-item>
      <it-list-item size="medium" href="/problems" iconLeft="true" [active]="router.url === '/problems'">
        <span class="list-item-title-icon-wrapper">
          <it-icon name="list" />
          <span>{{ 'sidebar.problems' | translate }}</span>
        </span>
      </it-list-item>

      <!-- Altri collegamenti -->
      <it-list-item size="medium" href="/faqs" iconLeft="true" [active]="router.url === '/faqs'">
        <span class="list-item-title-icon-wrapper">
          <it-icon name="help-circle" />
          <span>{{ 'sidebar.faqs' | translate }}</span>
        </span>
      </it-list-item>

      <it-list-item size="medium" href="/terms" iconLeft="true" [active]="router.url === '/terms'">
        <span class="list-item-title-icon-wrapper">
          <it-icon name="file" />
          <span>{{ 'sidebar.terms' | translate }}</span>
        </span>
      </it-list-item>

      <it-list-item size="medium" href="/settings" iconLeft="true" [active]="router.url === '/settings'">
        <span class="list-item-title-icon-wrapper">
          <it-icon name="settings" />
          <span>{{ 'sidebar.settings' | translate }}</span>
        </span>
      </it-list-item>

    </it-list>
  </it-sidebar>
</div>