<div class="col-auto border">
  <!-- <it-callout id="note" appearance="highlight" color="note" label="Impostazione di visualizzazione" class="pt-3 pb-3"> -->
    <div class="callout callout-highlight note pt-3 pb-3">
      <div class="row">
        <div class="col d-flex align-items-center gap-2">
          <span class="material-icons text-primary ">
            info
            </span>
          <h5 class="text-primary mb-0">Impostazioni di visualizzazione</h5>
        </div>

      </div>

<div class="row  pt-3 pb-3">
  <!-- Colonna 1: Heatmap -->
  <div class="col-md-4">
    <fieldset>
      <legend class="fw-bold mb-2">Livello di rischio</legend>
      <!-- <it-checkbox
        [(ngModel)]="heatmapAttiva"
        label="Mostra livello di rischio"
        toggle="true"
        (ngModelChange)="heatmapAttivaChange.emit($event); heatmapToggle.emit()">
      </it-checkbox> -->
      <div class="mt-3">
        <div class=" mb-1">Legenda:</div>
        <ul class="list-unstyled mb-0">
          <li><span class="badge bg-success me-2">&nbsp;</span> 0% Nessun rischio</li>
          <li><span class="badge bg-danger me-2">&nbsp;</span> 100% Certezza di sovraffollamento</li>
        </ul>
      </div>
    </fieldset>
  </div>
  <div class="col-md-4">

<fieldset>
  <legend class="fw-bold mb-2">Tipo di Diagramma</legend>
  <it-radio-button
    name="tipoDiagramma"
    value="true"
    label="Diagramma Turisti / Escursionisti"
    [checked]="monoDimensionale === false"
    (click)="setMonoDimensionale(false)">
  </it-radio-button>
  <it-radio-button
    name="tipoDiagramma"
    value="false"
    label="Diagramma di Carico Turistico"
    [checked]="monoDimensionale === true"
    (click)="setMonoDimensionale(true)">
  </it-radio-button>
</fieldset>
</div>
  <!-- Colonna 3: Resto delle opzioni -->
  <div class="col-md-4">
    <fieldset>
      <!-- <legend class="fw-bold mb-2">Opzioni visualizzazione</legend> -->
      <!-- <div class="d-flex flex-column gap-2">
        <it-checkbox
          [(ngModel)]="showAllSubsystems"
          label="Mostra tutti i sottosistemi"
          toggle="true"
          (ngModelChange)="showAllSubsystemsChange.emit($event); funzioneChange.emit()">
        </it-checkbox>

      </div> -->

      <div  class="mt-3">
        <fieldset>
          <legend class="me-2 fw-bold mb-0">Sottosistema:</legend>
          <it-radio-button
            *ngFor="let ss of sottosistemi"
            name="sottosistema"
            [value]="ss.value"
            [label]="ss.label"
            [(ngModel)]="sottosistemaSelezionato"
            (ngModelChange)="sottosistemaSelezionatoChange.emit($event); funzioneChange.emit()">
          </it-radio-button>
        </fieldset>
      </div>
    </fieldset>
  </div>
</div>
    </div>
<!-- </it-callout> -->
</div>
