<h3>{{ 'scenari.title' | translate }}</h3>
<!-- <p>{{ 'scenari.description' | translate }}</p> -->

<button itButton="primary" class="mb-4" (click)="toggleComparazione()">
  {{ comparazioneAttiva ? ('scenari.disable_compare' | translate) : ('scenari.enable_compare' | translate) }}
</button>
<div class="table-responsive">

  <it-table>
    <ng-container thead>
      <tr>
        <th *ngIf="comparazioneAttiva"></th>
        <th>#</th>

        <th>{{ 'scenari.name' | translate }}</th>
        <th>{{ 'scenari.description' | translate }}</th>
        <th class="text-end">{{ 'scenari.actions' | translate }}</th>
      </tr>
    </ng-container>
    <ng-container tbody>
      <tr *ngFor="let scenario of scenari; let i = index" [ngClass]="{'bg-light': i % 2 === 0, 'bg-white': i % 2 !== 0}"
        (click)="goToScenario(scenario)" style="cursor: pointer;">
        <td *ngIf="comparazioneAttiva">
          <it-checkbox class="me-2" [label]="''" [(ngModel)]="checkboxStates[scenario.id]"
            [disabled]="!checkboxStates[scenario.id] && selectedScenari.length >= 2" (click)="$event.stopPropagation()"
            (ngModelChange)="onScenarioCheck(scenario, $event)">
          </it-checkbox>
        </td>
        <td class="align-middle	">{{ i + 1 }}</td>
        <td class="align-middle">{{ scenario.name }}</td>
        <td class="align-middle">{{ scenario.description }}</td>
        <td class="text-end align-middle">
          <div class="d-flex flex-wrap justify-content-end gap-2">
            <button class="btn btn-sm btn-icon text-primary" (click)="goToScenario(scenario); $event.stopPropagation()"
            [disabled]="comparazioneAttiva" aria-label="Dettaglio scenario">
            <span class="material-icons">
              visibility
              </span>
             </button>
            <!-- <button class="btn btn-sm btn-icon text-primary" (click)="openEdit(scenario); $event.stopPropagation()"
              [disabled]="comparazioneAttiva" aria-label="Modifica scenario">
              <span class="material-icons">edit</span>
            </button>
            <button class="btn btn-sm btn-icon text-primary"
              (click)="deleteScenario(scenario); $event.stopPropagation()" [disabled]="comparazioneAttiva"
              aria-label="Elimina scenario">
              <span class="material-icons">delete</span>
            </button> -->
          </div>
        </td>



      </tr>
    </ng-container>
  </it-table>

</div>

<div *ngIf="comparazioneAttiva && selectedScenari.length === 2" class="mt-3">
  <button itButton="primary" (click)="confrontaScenari()">
    {{ 'scenari.compare_selected' | translate }}
  </button>
</div>
<app-back-button></app-back-button>
<!-- <button itButton="outline-secondary" class="me-2" backButton>{{ 'common.back' | translate }}</button> -->