<!-- Titolo problema -->
<h2 class="mb-2">{{ problemName }}</h2>

<!-- Pulsante Visualizza scheda del problema -->
<button itButton="primary" size="sm" class="mb-4" (click)="goToProblemDetail()">
  {{ 'scenari.view_problem_detail' | translate }}
</button>

<!-- Titolo scenari -->
<h3 class="mb-2 mt-4" style="font-size: 1.25rem;">{{ 'scenari.title' | translate }}</h3>

<!-- Pulsante comparazione (più piccolo) -->
<button itButton="primary" size="sm" class="mb-4" (click)="toggleComparazione()">
  {{ comparazioneAttiva ? ('scenari.disable_compare' | translate) : ('scenari.enable_compare' | translate) }}
</button>
<div class="table-responsive">

  <it-table>
    <ng-container thead>
      <tr>
        <th *ngIf="comparazioneAttiva" class="text-start align-middle"></th>
        <th class="text-start align-middle">#</th>

        <th class="text-start align-middle">{{ 'scenari.name' | translate }}</th>
        <th class="text-start align-middle">{{ 'scenari.description' | translate }}</th>
        <th class="text-start align-middle" >{{ 'scenari.parameters' | translate }}</th>
        <th class="text-start align-middle">{{ 'scenari.actions' | translate }}</th>
      </tr>
    </ng-container>
    <ng-container tbody >
      <tr *ngFor="let scenario of scenari; let i = index" [ngClass]="{'bg-light': i % 2 === 0, 'bg-white': i % 2 !== 0}"
        (click)="goToScenario(scenario)" style="cursor: pointer;">
        <td *ngIf="comparazioneAttiva">
          <it-checkbox class="me-2" [label]="''" [(ngModel)]="checkboxStates[scenario.id]"
            [disabled]="!checkboxStates[scenario.id] && selectedScenari.length >= 2" (click)="$event.stopPropagation()"
            (ngModelChange)="onScenarioCheck(scenario, $event)">
          </it-checkbox>
        </td>
        <td class="text-start align-middle">{{ i + 1 }}</td>
        <td class="text-start align-middle">{{ scenario.name }}</td>
        <td class="text-start align-middle">{{ scenario.description }}</td>
        <td class="text-start align-middle">
          <button
            *ngIf="hasParams(scenario) && widgets"
            class="btn btn-sm btn-icon text-primary  "
            [itPopover]="getDiffDescription(scenario)"
            [popoverTitle]="'scenari.parametersChanged' | translate"
            [popoverPlacement]="'left'"
            [popoverContainer]="'body'"
            popoverTrigger="focus"
            popoverHtml="true"
            (click)="$event.stopPropagation()"
            
            aria-label="Visualizza parametri"
          >
            <span class="material-icons align-middle">description</span>
          </button>
        </td>
        <td class="text-start align-middle">
          <div class="d-flex flex-wrap justify-content-start gap-2">
            <button class="btn btn-sm btn-icon text-primary" (click)="goToScenario(scenario); $event.stopPropagation()"
            [disabled]="comparazioneAttiva" aria-label="Dettaglio scenario">
            <span class="material-icons">
              visibility
              </span>
             </button>
            <!-- <button class="btn btn-sm btn-icon text-primary" (click)="openEdit(scenario); $event.stopPropagation()"
              [disabled]="comparazioneAttiva" aria-label="Modifica scenario">
              <span class="material-icons">edit</span>
            </button> -->
            <button class="btn btn-sm btn-icon text-primary"
            (click)="openDeleteModal(scenario); $event.stopPropagation()" 
            [disabled]="comparazioneAttiva"
              aria-label="Elimina scenario">
              <span class="material-icons">delete</span>
            </button>
          </div>
        </td>



      </tr>
    </ng-container>
  </it-table>

</div>

<div *ngIf="comparazioneAttiva && selectedScenari.length === 2" class="mt-3">
  <button itButton="primary" (click)="confrontaScenari()">
    {{ 'scenari.compare_selected' | translate }}
  </button>
</div>
<app-back-button></app-back-button>
<!-- <button itButton="outline-secondary" class="me-2" backButton>{{ 'common.back' | translate }}</button> -->
<it-modal #deleteModal>
  <ng-container modalTitle>
    {{ 'scenari.confirm_delete_title' | translate }}
  </ng-container>

  <p>
    {{ 'scenari.confirm_delete_message' | translate:{name: scenarioToDelete?.name} }}
  </p>

  <ng-container footer>
    <button itButton="outline-primary" (click)="onCancelDelete()">
      {{ 'common.cancel' | translate }}
    </button>
    <button itButton="danger" (click)="onConfirmDelete()">
      {{ 'common.delete' | translate }}
    </button>
  </ng-container>
</it-modal>