<div class="container my-4">
<!-- Dropdown KPI -->
<div class="dropdown w-50 mb-3">
  <button class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center" 
          type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <span>{{ getKpiName(selectedKpi) || 'Seleziona Indicatore' }}</span>
    <span class="material-icons ms-2">expand_more</span>
  </button>
  <div class="dropdown-menu w-100">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li *ngFor="let k of kpis">
          <a class="list-item" (click)="selectKpi(k.value)">
            <span>{{ k.text }}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


  <!-- Tabs -->
  <it-tab-container>
    <it-tab-item label="Mappa" icon="map-marker" [active]="true">
      <app-overtourism-map [data]="rawData" [geojson]="geojson" [selectedKpi]="selectedKpi"></app-overtourism-map>
    </it-tab-item>

    <it-tab-item label="Grafici" icon="chart-line">
      <app-overtourism-charts [data]="rawData" [selectedKpi]="selectedKpi"></app-overtourism-charts>
    </it-tab-item>
  </it-tab-container>
</div>
