.ac-wrapper {
  width: 100%;
  position: relative;
}

.autocomplete-panel {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3000 !important;
}

.ac-item.active {
  background-color: #0066cc;
  color: white;
}
