<div class="container-fluid">
  <div class="row mb-4">
    <div class="col-12">
      <div class="d-flex justify-content">
        <button [itButton]="!showControls ? 'outline-primary' : 'outline-secondary'"
          class="m-4 d-flex justify-content-between align-items-center" (click)="toggleControls()"> 
          <span class="material-icons me-2">
        visibility
          </span> {{('plot.edit' | translate) }}
        </button>
      </div>
      <app-plot-controls
      *ngIf="showControls"
      [monoDimensionale]="monoDimensionale"
      [sottosistemi]="sottosistemi"
      [sottosistemaSelezionato]="sottosistemaSelezionato"
      (monoDimensionaleChange)="onMonoDimensionaleChange($event)"
      (heatmapAttivaChange)="onHeatmapAttivaChange($event)"
      (sottosistemaSelezionatoChange)="onSottosistemaSelezionatoChange($event)"
      (funzioneChange)="onFunzioneChange()"
      (heatmapToggle)="onHeatmapToggle()">
    </app-plot-controls>
    </div>
  </div>
  <div class="row mb-4">
    <!-- Scenario 1 -->
    <div class="col-md-6">
      <!-- <label class="form-label">{{ 'scenario.1' | translate }}</label> -->
      <div class="dropdown d-block">
        <button class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
  <span>{{ getScenarioName(selectedScenario1Id) || ('select.scenario' | translate) }}</span>
  <span class="material-icons ms-2">expand_more</span>
</button>
        <div class="dropdown-menu w-100">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li *ngFor="let s of scenari">
                <a class="list-item" (click)="selectScenario(1, s.id)">
                  <span>{{ s.name }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Scenario 2 -->
    <div class="col-md-6">
      <!-- <label class="form-label">{{ 'scenario.2' | translate }}</label> -->
      <div class="dropdown d-block">
        <button class="btn btn-outline-primary w-100 d-flex justify-content-between align-items-center"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false">
  <span>{{ getScenarioName(selectedScenario2Id) || ('select.scenario' | translate) }}</span>
  <span class="material-icons ms-2">expand_more</span>
</button>
        <div class="dropdown-menu w-100">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li *ngFor="let s of scenari">
                <a class="list-item" (click)="selectScenario(2, s.id)">
                  <span>{{ s.name }}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <div #chartLeft style="min-height: 400px;"></div>
      <!-- <app-kpi-box [kpisData]="kpisLeft" ></app-kpi-box> -->
    </div>
    <div class="col-md-6">
      <div #chartRight style="min-height: 400px;"></div>
      <!-- <app-kpi-box [kpisData]="kpisRight" ></app-kpi-box> -->
    </div>
  </div>
  <div class="row">
    <app-kpi-comparison [kpisLeft]="kpisLeft ?? {}" [kpisRight]="kpisRight ?? {}"></app-kpi-comparison>

  </div>
  <app-back-button></app-back-button>
</div>
