<div class="d-flex flex-row gap-4">
  <!-- KPI a sinistra -->
  <div class="flex-shrink-0" style="min-width: 300px;">
    <app-kpi-box [kpisData]="kpisData" ></app-kpi-box>
  </div>

  <!-- Grafico al centro + widget opzionale -->
  <div class="flex-grow-1 d-flex flex-row gap-4">
    <!-- Parte centrale: controlli + grafico -->
    <div class="flex-grow-1">
      <div class="d-flex justify-content">
        <button [itButton]="!showControls ? 'outline-primary' : 'outline-secondary'"
          class="m-4 d-flex justify-content-between align-items-center" (click)="toggleControls()"> 
          <span class="material-icons me-2">
        visibility
          </span> {{('plot.visualizza' | translate) }}
        </button>
      </div>
      <app-plot-controls *ngIf="showControls"
        [monoDimensionale]="monoDimensionale" [sottosistemi]="sottosistemi"
        [sottosistemaSelezionato]="sottosistemaSelezionato" 
         (monoDimensionaleChange)="monoDimensionale = $event"
        (sottosistemaSelezionatoChange)="sottosistemaSelezionato = $event" (funzioneChange)="onFunzioneChange()"
        ></app-plot-controls>

      <div #chartLib style="max-width: 600px;height: 600px; position: relative;">
        <div *ngIf="loading" class="loading-spinner">Loading...</div>
        <!-- Qui va il grafico vero e proprio -->
      </div>
      <div class="d-flex flex-row gap-4">
      <button [itButton]="!isEditing ? 'primary' : 'secondary'"
        class="m-4 d-flex justify-content-between align-items-center" (click)="toggleEditing()"> <span
          class="material-icons me-2">
          settings
        </span> {{('plot.edit' | translate) }}
      </button>
      <button itButton="primary"
      class="m-4 d-flex justify-content-between align-items-center"
      (click)="goToCompare()">
      <span class="material-icons me-2">library_books</span>
      {{ 'plot.compare' | translate }}
    </button>
      </div>
     
      <ng-container *ngIf="isEditing">
        <div class="row mt-4">
          <!-- <div class="plot-editor-sidebar flex-shrink-0"> -->
          <app-plot-editor-widget [widgets]="widgets"
          [editableIndexes]="editableIndexes || []"
          (widgetsChanged)="onWidgetsChanged($event)"></app-plot-editor-widget>
        </div>

      </ng-container>
       <!-- Info e note SEMPRE visibili -->
       <ng-container >
        <div class="row mt-4">
          <div class="col">
            <div class="p-3  h-100">
              <div class="callout callout-highlight note ">
                <h6 class="text-primary mb-3 d-flex align-items-center gap-2">
                  <span class="material-icons">error_outline</span>
                  {{ 'plot.infoTitle' | translate }}
                </h6>
                <p class="small text-muted mb-2">
                  Differenze rispetto allo scenario originale:
                </p>
        
                <div *ngIf="indexDiffs && objectKeys(indexDiffs).length; else noDifferences">
                  <ul class="list-unstyled small">
                    <li *ngFor="let key of objectKeys(indexDiffs)">
                      <span class="fw-bold">{{ getIndexNameFromKey(key) }}</span>: {{ indexDiffs[key] }}
                    </li>
                  </ul>
                </div>
                
                <ng-template #noDifferences>
                  <span class="fw-bold">Nessuna</span>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        

        <div class="row mt-4">
          <div class="col">
            <div class="p-3  h-100">
              <!-- <h6 class="mb-2">{{ 'plot.notesTitle' | translate }}</h6> -->
              <!-- <it-textarea class="w-100" label="{{ 'plot.notesLabel' | translate }}"
              [(ngModel)]="titolo"></it-textarea> -->

            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- Colonna destra: widget solo se editing -->

  </div>
</div>
<div class="d-flex justify-content-end gap-2 mt-4" *ngIf="indexDiffs && objectKeys(indexDiffs).length">
  <!-- <button itButton="outline-primary"
  class="m-4 d-flex justify-content-between align-items-center"
  (click)="resetIndexDiffs()"> 
    <span class="material-icons me-2">restart_alt</span>
    Ripristina modifiche
  </button> -->
  <button itButton="outline-primary"
    class="m-4 d-flex justify-content-between align-items-center"
    (click)="resetIndexDiffs()"> 
    <span class="material-icons me-2">replay</span>
    Ripristina modifiche
  </button>
  <button itButton="primary"
  class="m-4 d-flex justify-content-between align-items-center"
  (click)="openSaveModal()"> 
  <span class="material-icons me-2">save</span>
  Salva come nuovo scenario
</button>

  
</div>

<it-modal #saveModal id="saveModal" closeButton="false">
    <ng-container modalTitle>Salvataggio scenario modificato</ng-container>

    <p>    Vuoi salvarlo come nuovo scenario per renderlo disponibile tra quelli salvati?
    </p>
    <it-input
    label="{{ 'save.title' | translate }}"
    name="titolo"
    required
    [(ngModel)]="titolo"
    #titoloInput="ngModel">
  </it-input>
  <div *ngIf="titoloInput.invalid && titoloInput.touched" class="text-danger small">
    Il titolo è obbligatorio.
  </div>
  
  <it-textarea
    class="w-100"
    label="{{ 'save.description' | translate }}"
    name="descrizione"
    required
    [(ngModel)]="descrizione"
    #descrizioneInput="ngModel">
  </it-textarea>
  <div *ngIf="descrizioneInput.invalid && descrizioneInput.touched" class="text-danger small">
    La descrizione è obbligatoria.
  </div>
  
    <ng-container footer>
      <button itButton="outline-primary" size="sm" type="button" data-bs-dismiss="modal" (click)="closeModal()">Annulla</button> 
      <button
      itButton="primary"
      size="sm"
      type="button"
      [disabled]="(titoloInput.invalid ?? false) || (descrizioneInput.invalid ?? false)"
      (click)="confirmSave()">
      Salva
    </button>
        </ng-container>
  </it-modal>

<app-back-button></app-back-button>